html,body,section,div,span,a,img,form,p,h1,h2,h3,h4,h5 {
	margin:0;
	padding:0;
}
html,body{
	width:100%;
	height:100%;
	background:#2d2d2d;
}
ul,li,dl,dt,dd{margin:0;padding:0;}
li{list-style-type:none;padding:0;margin:0;}
img {
	border:0;
	vertical-align: middle;
}
input,button,select,textarea{outline:none;border:none;background:none;font-size:1em;}
textarea{resize:none;}
a {
	text-decoration:none;
    color:#fff;
	outline:none;-webkit-tap-highlight-color:rgba(255, 255, 255, 0);-webkit-focus-ring-color: rgba(0, 0, 0, 0);
}
#pagebody {
	overflow:hidden;
	width:100%;
	min-height:100%;
	font-family:微软雅黑;
}


#pagefooter {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 10%;
}
.main{
	width:100%;
	height:100%;
	overflow:hidden;
}

.click{
    width:100%;
}
.click img{
    width:100%;
}
.click a{
    display:block;
    width:100%;
}
.click_1{
    width:100%;
    display:block;
}
.click_a{
    width:100%;
    display:block;
}
.click_b{
    width:100%;
    display:block;
}
.click_a_1{
	width:100%;
	text-align:center;
	font-size:2em;
	overflow:hidden;
	background:#0e0e0e;
	padding:30% 0;
	color:#fff;
    display:block;
}
.click_b_1{
	width:100%;
	text-align:center;
	font-size:2em;
	overflow:hidden;
	background:#1d1d1d;
	padding:30% 0;
	color:#fff;
    display:block;
}

.click_a_2{
	width:100%;
	text-align:center;
	font-size:2em;
	overflow:hidden;
	background:#0e0e0e;
	color:#fff;
    display:none;
}
.click_b_2{
	width:100%;
	text-align:center;
	font-size:2em;
	overflow:hidden;
	background:#1d1d1d;
	color:#fff;
    display:none;
}



.button{
	width:100%;
	height:40px;
	line-height:40px;
	color:#000;
	background:#000;
	text-align:center;
}
.button a{
    display:block;
    width:100%;
    height:40px;
    color:#fff;
}




.left{
	width:50%;
	height:100%;
	position:relative;
	z-index:999;
}

.leftmenu{
	width:100%;
	overflow:hidden;
	background:url(../images/yy.png) no-repeat center center;
	background-size:100% 100%;	
	display:none;
	position:absolute;
	top:0%;
	z-index:1;
}
.leftmenu_1{
	width:70%;
	overflow:hidden;
	margin:30% auto 0 auto;
}
.leftmenu_1 a{color:#fff;}
.leftmenu_2{
	width:100%;
	margin:15% 0;
}

.leftmenu_ico{
	width:10%;
	position:absolute;
	top:3%;
	left:0;
	z-index:999;
	padding:8% 12%;
}
.leftmenu_ico img{
	width:100%;
}


@media screen and (max-width:400px){
	body{font-size:14px;}
}

.sig_mask1 {
	position:absolute;
	top:0; 
	left:0; 
	width:100%; 
	height:237px;
}
.sig_mask1 .sm{
	position: absolute;
	width:14.2%;
	height:20%;
	background: rgba(0,0,0,0.6);
	opacity:1;
}
.sig_mask1 .sm_1{
	top: 20%;
	left: 29%;	
}
.sig_mask1 .sm_2{
	top: 20%;
	left: 43%;	
}
.sig_mask1 .sm_3{
	top: 20%;
	left: 57.2%;	
}
.sig_mask1 .sm_4{
	top: 20%;
	left: 71.2%;	
}
.sig_mask1 .sm_5{
	top: 20%;
	left: 85.2%;	
}

.sig_mask1 .sm_6{
	top: 40%;
	left: 29%;	
}
.sig_mask1 .sm_7{
	top: 40%;
	left: 43%;	
}
.sig_mask1 .sm_8{
	top: 40%;
	left: 57.2%;	
}
.sig_mask1 .sm_9{
	top: 40%;
	left: 71.2%;	
}
.sig_mask1 .sm_10{
	top: 40%;
	left: 85.2%;	
}

.sig_mask1 .sm_11{
	top: 60%;
	left: 29%;	
}
.sig_mask1 .sm_12{
	top: 60%;
	left: 43%;	
}
.sig_mask1 .sm_13{
	top: 60%;
	left: 57.2%;	
}
.sig_mask1 .sm_14{
	top: 60%;
	left: 71.2%;	
}
.sig_mask1 .sm_15{
	top: 60%;
	left: 85.2%;	
}

.sig_mask1 .sm_16{
	top: 80%;
	left: 14%;
	width:15%;	
}
.sig_mask1 .sm_17{
	top: 80%;
	left: 29%;	
}
.sig_mask1 .sm_18{
	top: 80%;
	left: 43%;	
}
.sig_mask1 .sm_19{
	top: 80%;
	left: 57.2%;	
}
.sig_mask1 .sm_20{
	top: 80%;
	left: 71.2%;	
}
.sig_mask1 .sm_21{
	top: 80%;
	left: 85.2%;	
}

.sig_mask2 {
	position:absolute;
	top:0; 
	left:0; 
	width:100%; 
	height:237px;
}
.sig_mask2 .sm{
	position: absolute;
	width:18%;
	height:20%;
	background: rgba(0,0,0,0.6);
	opacity:1;
}
.sig_mask2 .sm_1{
	top: 20%;
	left: 14%;	
}
.sig_mask2 .sm_2{
	top: 20%;
	left: 32%;
	width:16.5%;	
}
.sig_mask2 .sm_3{
	top: 20%;
	left: 48.5%;
	width:17.2%;	
}
.sig_mask2 .sm_4{
	top: 20%;
	left: 65.7%;
	width:17.2%;	
}
.sig_mask2 .sm_5{
	top: 20%;
	left: 82.8%;
}

.sig_mask2 .sm_6{
	top: 40%;
	left: 14%;	
}
.sig_mask2 .sm_7{
	top: 40%;
	left: 32%;
	width:16.5%;	
}
.sig_mask2 .sm_8{
	top: 40%;
	left: 48.5%;
	width:17.2%;	
}
.sig_mask2 .sm_9{
	top: 40%;
	left: 65.7%;
	width:17.2%;	
}
.sig_mask2 .sm_10{
	top: 40%;
	left: 82.8%;
}

.sig_mask2 .sm_11{
	top: 60%;
	left: 14%;	
}
.sig_mask2 .sm_12{
	top: 60%;
	left: 32%;
	width:16.5%;	
}
.sig_mask2 .sm_13{
	top: 60%;
	left: 48.5%;
	width:17.2%;	
}
.sig_mask2 .sm_14{
	top: 60%;
	left: 65.7%;
	width:17.2%;	
}
.sig_mask2 .sm_15{
	top: 60%;
	left: 82.8%;
}

.sig_mask2 .sm_16{
	top: 80%;
	left: 14%;	
	height:21%;
}
.sig_mask2 .sm_17{
	top: 80%;
	left: 32%;
	width:16.5%;
	height:21%;	
}
.sig_mask2 .sm_18{
	top: 80%;
	left: 48.5%;
	width:17.2%;
	height:21%;	
}
.sig_mask2 .sm_19{
	top: 80%;
	left: 65.7%;
	width:17.2%;
	height:21%;	
}
.sig_mask2 .sm_20{
	top: 80%;
	left: 82.8%;
	height:21%;
}