html,body,section,div,span,a,img,form,p,h1,h2,h3,h4,h5 {
	margin:0;
	padding:0;
}
html,body{
	width:100%;
	height:100%;
	background:#000;
}
ul,li,dl,dt,dd{margin:0;padding:0;}
li{list-style-type:none;padding:0;margin:0;}
img {
	border:0;
	vertical-align: middle;
}
input,button,select,textarea{outline:none;border:none;background:none;font-size:1em;}
textarea{resize:none;}
a {
	text-decoration:none;
	outline:none;-webkit-tap-highlight-color:rgba(255, 255, 255, 0);-webkit-focus-ring-color: rgba(0, 0, 0, 0);
}
#pagebody {
	overflow:hidden;
	width:100%;
	min-height:100%;
	font-family:微软雅黑;
}


#pagefooter {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 10%;
}

.main{
	width:100%;
	height:100%;
	overflow:hidden;
}

.nav{
	width:100%;
	overflow:hidden;
	text-align:center;
	background:#4d4d4d;

}

.nav img{
	width:86%;
}
.subnav1{
	width:33%;
	float:left;
	background:#a6a6a6;
	padding:5% 0.5%;
}
.subnav2{
	width:33%;
	float:left;
	background:#4d4d4d;
	padding:5% 0;
}


.navigroup{
	width:100%;
	height:100%;
	overflow:hidden;
}

.naviblock{
	width:100%;
	position:relative;
	overflow:hidden;
	background:#4d4d4d;
}

.naviblock_text{
	width:33%;
	position:absolute;
	top:0;
	right:0;
	z-index:2;
	text-align:center;
}
.naviblock_text img{
	width:50%;
	margin:25% 0 0 0;
}
.naviblock_text2{
	width:33%;
	position:absolute;
	top:0;
	left:0;
	z-index:2;
	text-align:center;
}
.naviblock_text2 img{
	width:50%;
	margin:25% 0 0 0;
}
.naviblock_mask{
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.5);
	overflow:hidden;
	position:absolute;
	top:0;
	left:0;
	z-index:1;
}
.naviblock_img{
	width:67%;
	z-index:0;
	position:relative;
}
.naviblock_img img{
	width:100%;
}
.naviblock_img2{
	width:67%;
	z-index:0;
	float:right;
	position:relative;
}
.naviblock_img2 img{
	width:100%;
}



.left{
	width:50%;
	height:100%;
	position:relative;
	z-index:999;
}

.leftmenu{
	width:100%;
	overflow:hidden;
	background:url(../images/yy.png) no-repeat center center;
	background-size:100% 100%;	
	display:none;
	position:absolute;
	top:0%;
	z-index:1;
}
.leftmenu_1{
	width:70%;
	overflow:hidden;
	margin:30% auto 0 auto;
}
.leftmenu_1 a{color:#fff;}
.leftmenu_2{
	width:100%;
	margin:15% 0;
}

.leftmenu_ico{
	width:10%;
	position:absolute;
	top:3%;
	left:0;
	z-index:999;
	padding:8% 12%;
}
.leftmenu_ico img{
	width:100%;
}
/*photo css begin*/
.clearFloat{zoom:1}
.clearFloat:after{clear:both;content:"";height:0;visibility:hidden;display:block}
body { background:rgba(0,0,0,0.6);}
@media screen and (min-width:240px) {
    html, body{
        font-size:12px;
    }
}
@media screen and (min-width:320px) {
    html, body{
        font-size:14px;
    }
}
@media screen and (min-width:380px) {
    html, body{
        font-size:18px;
    }
	.pn_btn #prev {left:8%; }
	.pn_btn #next {right:3%;}
}
@media screen and (min-width:480px) {
    html, body{
    font-size:24px;
    }
}
@media screen and (min-width:640px) {
    html, body{
        font-size:24px;
    }
}
@media screen and (min-width:960px) {
    html, body{
        font-size:24px;
    }
	/*.webImgWrap .webImgCon{top:30%;}*/
}
.webImgWrap{ background:rgba(0%,0%,0%,0); width:100%; position:fixed; z-index:0; top:0px; left:0; margin:0px; opacity:0;}
.webImgCon { height:24rem;position:relative; width:100%; display:inline-block; vertical-align:middle;}
.webImgbox{width:15rem;height:22.8rem;overflow:hidden;margin:0 auto;}
.webImgbox ul{width:105rem;}
.webImgbox ul li{float:left;width:15rem;height:22.8rem; line-height:22.8rem;overflow:hidden;text-align:center;}
.webImgbox ul li img{ vertical-align:middle;  }
.prev,.next { text-indent:-9999px; width:2rem; height:2rem; position:absolute; top:50%;  margin-left:-1rem; margin-top:-1rem;}
.prev { background:url(../images/prev.png) no-repeat; left:12%; background-size:contain; }
.next { background:url(../images/next.png) no-repeat; right:7%; background-size:contain;}
.page { font-size:60px; color:#fff;}
.webImgList_btns { margin:auto; padding-top:1rem; }
.webImgList_btns li { float:left; width:0.5rem; height:1rem; margin:0 0.2rem; background:url(../images/link_btn.png) no-repeat; background-size:contain;}
.webImgList_btns li.active { background:url(../images/active_btn.png) no-repeat; background-size:contain;}

/*photo css end*/