@charset "utf-8";
*{ margin: 0; padding: 0;}
ul,ol,dl{ list-style: none;}
a { text-decoration:none; color:#fff; outline:none;-webkit-tap-highlight-color:rgba(255, 255, 255, 0);-webkit-focus-ring-color: rgba(0, 0, 0, 0);}
img {border:0; vertical-align: middle;}
html,body{ width:100%; height:100%; overflow:hidden; background:#031a17; font-size:62.5%; max-width: 640px; margin: auto; cursor: pointer;}

input, textarea, keygen, select, button {letter-spacing: normal;
word-spacing: normal;
text-transform: none;
text-indent: 0px;
text-shadow: none;
display: inline-block;
text-align: start;}
input[type='button'], input[type='submit'], input[type='reset'],input[type='text'] {
-webkit-appearance: none;
}
input:focus, select:focus, textarea:focus {
outline: none;
-webkit-tap-highlight-color:rgba(0,0,0,0);
-webkit-user-modify:read-write-plaintext-only;
}
#pagebody {	overflow:hidden; width:100%; min-height:100%; font-family:微软雅黑; }
#pagefooter { position: fixed; bottom: 0; left: 0; width: 100%; height: 10%;}
@-webkit-keyframes loadingsysstar {
	0% { -webkit-transform: translate(42px,149px); }
	12.5% { -webkit-transform: translate(42px,63px); }
	25% { -webkit-transform: translate(120px,48px); }
	37.5% { -webkit-transform: translate(120px,158px); }
	48% { -webkit-transform: translate(77px,150px); }
	60.5% { -webkit-transform: translate(77px,79px); }
	73% { -webkit-transform: translate(161px,64px); }
	85.5% { -webkit-transform: translate(161px,178px); }
	100% { -webkit-transform: translate(42px,149px); }
}